@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Добро пожаловать! LR2</h2>
    <p>Вариант №6. Задания:</p>
    <p>
        1. Дано целое число N и набор из N прямоугольников, заданных своими сторонами - парами чисел (a, b).
        Найти минимальную площадь прямоугольника из данного набора.
    </p>
    <p>
        2. Дан текст. Напечатать все имеющиеся в нем цифры.
    </p>
    <p>
        3. В заданном массиве найти максимальный элемент. Элементы, стоящие после максимального элемента заменить нулями.
    </p>
</div>
