<div id="TaskFirstSolution">
    <form method="post">
        <p>
            <label>Введите количество прямоугольников:</label>
            <input type="text" name="NumOfRect" />
        </p>
        <p>
            <label>Введие стороны прямоугольников:</label> <br />
            <label>Учтите, что стороны записываются через запятую, а разделение прямоугольников задается пробелом</label><br />
            <input type="text" name="StrWithRect" />
        </p>
        <p>
            <input name="action" type="submit" value="Вычислить" /> <br />
        </p>
        <p>
            <label>Самая маленькая площадь:</label>
            <label>@ViewBag.S</label>
        </p>
    </form>
</div>