<div id="TaskSecondSolution">
    <form method="post">
        <p>
            <label>Напечатайте текст:</label>
            <input type="text" name="Text" />
        </p>
        <p>
            <input name="action" type="submit" value="Печать цифр" /> <br />
        </p>
        <p>
            <label>Цифры:</label>
            <label>@ViewBag.N</label>
        </p>
    </form>
</div>
