<div id="TaskThirdSolution">
    <form method="post">
        <p>
            <label>Введите набор чисел через запятую или пробел</label>
            <input type="text" name="Numbers" />
        </p>
        <p>
            <input name="action" type="submit" value="Обработка" /> <br />
        </p>
        <p>
            <label>Максимальное число:</label>
            <label>@ViewBag.Max</label>
        </p>
        <p>
            <label>Набор чисел:</label>
            <label>@ViewBag.Mas</label>
        </p>
    </form>
</div>